demoDraft/


.vscode/

backend/logs/*

logs/

ApiTesting.md

*.crt
*.key
*.pem
*.pfx

*.cer
*.p12

node_modules
package-lock.json
src/main/resources/application-prod.properties

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/



/src/main/resources/static/
/src/main/resources/application-prod.properties
/src/main/resources/application-sqlite.properties

myDb.db