.clinic-settings-container {
  background-color: var(--third-bg);
  padding: var(--padding-large);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-medium);
  color: var(--text-color);
  /* max-width: 600px; */
  margin: 0 auto;
}

.clinic-settings-title {
  font-size: var(--font-size-title);
  color: var(--label-color);
  margin-bottom: var(--padding-medium);
  text-align: center;
}

.clinic-settings-form {
  display: flex;
  flex-direction: column;
  gap: var(--padding-small);
}

.clinic-settings-form label {
  font-weight: bold;
  color: var(--label-color);
}

.clinic-settings-form form {
  display: flex;
  flex-direction: column;
  gap: var(--padding-small);
}

.clinic-settings-form input,
.clinic-settings-form textarea,
.clinic-settings-form button {
  font-size: var(--font-size-body);
  padding: var(--padding-small);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  /* width: 100%; */
  /* Full width for inputs and buttons */
}

.clinic-settings-form input:focus,
.clinic-settings-form input[type="text"]:focus,
.clinic-settings-form textarea:focus,
.clinic-settings-form button:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0px 0px 8px var(--primary-hover);
}

.clinic-settings-form textarea {
  resize: none;
  height: 80px;
  /* Smaller height for small screens */
}

.clinic-settings-form button {
  background-color: var(--primary-color);
  color: var(--white);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.clinic-settings-form button:hover {
  background-color: var(--primary-hover);
}

.clinic-settings-form button:disabled {
  background-color: var(--secondary-bg);
  color: var(--secondary-color);
  cursor: not-allowed;
}

.settings-section {
  margin-bottom: var(--padding-medium);
  padding: var(--padding-small);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--section-bg);
}

.settings-section legend {
  font-weight: bold;
  color: var(--label-color);
  padding: 0 var(--padding-small);
}