.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--padding-medium);
}

/* Heading Styles */
h1 {
  font-size: var(--font-size-title);
  color: var(--primary-color);
  text-align: center;
  margin-bottom: var(--padding-medium);
}

h2,
h3 {
  font-size: calc(var(--font-size-title) - 8px);
  color: var(--primary-color);
  margin-top: var(--padding-medium);
}

h3 {
  font-size: calc(var(--font-size-body) + 4px);
}

/* Buttons */
button {
  background-color: var(--primary-color);
  color: var(--white);
  padding: var(--padding-small) var(--padding-medium);
  border: none;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-light);
  font-size: var(--font-size-body);
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover:not(:disabled) {
  background-color: var(--primary-hover);
}

button:disabled {
  background-color: var(--border-color);
  cursor: not-allowed;
}

/* Cards */
.card {
  background-color: var(--white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-medium);
  padding: var(--padding-medium);
  margin-bottom: var(--padding-large);
}

/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: var(--padding-medium);
}

thead th {
  background-color: var(--secondary-bg);
  color: var(--secondary-color);
  padding: var(--padding-small);
  text-align: left;
}

tbody td {
  color: var(--primary-color);
  border: 1px solid var(--border-color);
  padding: var(--padding-small);
}

tr:nth-child(even) {
  background-color: var(--primary-bg);
}

/* Success Message */
.success {
  background-color: var(--success-bg);
  border: 1px solid var(--success-border);
  color: var(--success-text);
  padding: var(--padding-small);
  border-radius: var(--border-radius);
  margin-top: var(--padding-medium);
}

/* Responsive Design Enhancements */
@media (max-width: 768px) {
  .container {
    padding: var(--padding-small);
  }

  h1 {
    font-size: var(--font-size-welcome);
  }

  h2,
  h3 {
    font-size: calc(var(--font-size-body) + 4px);
  }

  button {
    width: 100%;
  }

  /* 
  table {
    font-size: calc(var(--font-size-body) - 2px);
  }

  table th,
  table td {
    padding: var(--padding-xs);
  } */

  /* Add scrolling for tables */
  /* .table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  } */

  /* Stack table rows on small screens */
  /* table thead {
    display: none;
  }

  table tbody tr {
    display: block;
    margin-bottom: var(--padding-small);
  }

  table tbody tr td {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    padding: var(--padding-small);
  }

  table tbody tr td:before {
    content: attr(data-label);
    font-weight: bold;
    color: var(--secondary-color);
    margin-right: var(--padding-small);
  } */
}