.home {
  padding: var(--padding-medium);
}

.dashboard-summary {
  display: flex;
  justify-content: space-around;
  margin-bottom: var(--padding-medium);
}

.summary-item {
  background-color: var(--secondary-bg);
  padding: var(--padding-medium);
  border-radius: var(--border-radius);
  text-align: center;
  width: 150px;
  box-shadow: var(--shadow-light);
}

.summary-item h3 {
  font-size: var(--font-size-title);
  margin: 0;
  color: var(--primary-color);
}

.summary-item p {
  font-size: var(--font-size-body);
  color: var(--secondary-color);
}

.quick-actions {
  margin-bottom: var(--padding-medium);
}

.actions {
  display: flex;
  justify-content: space-around;
}

.action-btn {
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  padding: var(--padding-small) var(--padding-medium);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s;
}

.action-btn:hover {
  background-color: var(--primary-hover);
}

.notifications {
  background-color: var(--secondary-bg);
  padding: var(--padding-small);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-medium);
}

.notifications h3 {
  margin-top: 0;
  font-size: var(--font-size-welcome);
  color: var(--primary-color);
}

.notifications ul {
  list-style: none;
  padding: 0;
}

.notifications li {
  padding: var(--padding-small) 0;
  border-bottom: 1px solid var(--border-color);
}

.notifications li:last-child {
  border-bottom: none;
}

.notifications span {
  color: var(--secondary-color);
  font-size: 0.9rem;
}

@media screen and (max-width: 768px) {
  .home {
    padding: var(--padding-small);
  }

  .dashboard-summary {
    flex-direction: column;
    align-items: center;
  }

  .summary-item {
    width: 100%;
    margin-bottom: var(--padding-small);
    box-shadow: var(--shadow-light);
  }

  .quick-actions {
    margin-bottom: var(--padding-small);
  }

  .actions {
    flex-direction: column;
    gap: var(--padding-small);
  }

  .action-btn {
    width: 100%;
    padding: var(--padding-small);
    font-size: var(--font-size-body);
  }

  .notifications {
    margin-top: var(--padding-small);
  }

  .notifications ul {
    padding-left: var(--padding-small);
  }

  .notifications li {
    padding: var(--padding-small) 0;
  }
}