/* Base styles */
/* .patient-profile-container {
  padding: 4px;
  border-radius: var(--border-radius);
} */


.profile-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--shadow-light);
  padding: var(--padding-small);
  border-radius: var(--border-radius);
  margin: var(--padding-small);
}

.profile-header .icon {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 80px;
  height: 80px;
  color: var(--secondary-color);
  cursor: pointer;
  padding: 10px;
  gap: 2px;
}

.profile-header .icon svg {
  color: var(--primary-color);
  font-size: 2rem;
}

.current-patient {
  color: var(--third-color);
}

.edit-patient {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-header .icon:hover {
  background-color: var(--hover-color);
}

.header-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--padding-small);
  margin-bottom: var(--padding-medium);
}

.header-section h2 {
  font-size: var(--font-size-title);
  color: var(--primary-color);
  margin: 0;
}


.profile-header .icon:hover {
  background-color: var(--primary-bg);
  border-radius: 5px;
}

/* Style for the prescription print section */
.prescription-print-section {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background-color: var(--secondary-bg);
}

.expandable-sections {
  box-shadow: var(--shadow-light);
  padding: var(--padding-small);
  border-radius: var(--border-radius);
  margin: var(--padding-small);
}

.patient-info,
.visit-details {
  margin-bottom: var(--padding-medium);
}

.patient-info p,
.visit-details p {
  font-size: var(--font-size-body);
  margin: var(--padding-small) 0;
}

.doctor-notes textarea {
  width: -webkit-fill-available;
  padding: var(--padding-small);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  margin-top: var(--padding-small);
}

.notes-buttons {
  display: flex;
  gap: var(--padding-small);
  margin-top: var(--padding-small);
}

.save-button,
.cancel-button,
.toggle-button {
  padding: var(--padding-small) var(--padding-medium);
  border: none;
  border-radius: var(--border-radius);
  font-size: var(--font-size-body);
  cursor: pointer;
}

.save-button {
  background-color: var(--success-bg);
  color: var(--success-text);
  box-shadow: var(--shadow-light);
}

.cancel-button {
  background-color: var(--secondary-bg);
  color: var(--secondary-color);
  box-shadow: var(--shadow-light);
}

.toggle-button {
  background-color: var(--primary-color);
  color: var(--white);
  box-shadow: var(--shadow-light);
}

.toggle-button:hover {
  background-color: var(--primary-hover);
}

.next-patient-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: var(--padding-medium);
  background-color: var(--secondary-bg);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-light);
  justify-content: space-between;
  padding: var(--padding-small);
  margin: var(--padding-small);
}

.next-patient-name {
  margin: 0;
  font-size: var(--font-size-body);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.next-patient-button {
  width: auto;
  background-color: var(--primary-color);
  color: var(--white);
  padding: var(--padding-small) var(--padding-medium);
  border: none;
  border-radius: var(--border-radius);
  font-size: var(--font-size-body);
  cursor: pointer;
  box-shadow: var(--shadow-light);
}

.next-patient-button:hover {
  background-color: var(--primary-hover);
}

.warn-section {
  margin-top: 20px;
}

.set-warn-button,
.remove-warn-button {
  padding: 8px 16px;
  background-color: #ffcc00;
  color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
}

.set-warn-button:hover,
.remove-warn-button:hover {
  background-color: #e6b800;
}

.warn-input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 60px;
  margin-left: 10px;
}

.expandable-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header-section h1 {
    margin-left: 8px;
  }

}

@media (max-width: 600px) {

  .profile-header,
  .expandable-sections,
  .next-patient-section {
    padding: 4px;
    margin: 4px;
  }

  .header-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-section h1 {
    margin-left: 8px;
  }

  .header-section h2 {
    padding: 4px;
  }

  .profile-header .icon {
    width: 40px;
    height: 40px;
  }

  .profile-header .icon span {
    display: none
  }

  .next-patient-section {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--padding-small);
  }

  .next-patient-button {
    width: auto;
    padding: var(--padding-small) var(--padding-medium);
  }

  .next-patient-name {
    font-size: calc(var(--font-size-body) - 2px);
  }

  .patient-info p,
  .visit-details p {
    font-size: calc(var(--font-size-body) - 2px);
  }
}