/* Base Styles */
.patient-history {
  padding: var(--padding-medium);
  background-color: var(--secondary-bg);
  border-radius: var(--border-radius);
}

.search-bar {
  margin-bottom: var(--padding-medium);
  text-align: center;
  display: flex;
  justify-content: center;
}

.search-bar input {
  padding: var(--padding-small);
  font-size: var(--font-size-body);
  width: 100%;
  max-width: 400px;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
}

/* Patient Summary */
.patient-summary {
  margin-bottom: var(--padding-medium);
  padding: var(--padding-small);
  background-color: var(--primary-bg);
  border-radius: var(--border-radius);
}

/* Tabs */
.tabs {
  display: flex;
  margin-bottom: var(--padding-small);
}

.tabs button {
  flex: 1;
  padding: var(--padding-small);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: var(--font-size-body);
  background-color: var(--primary-color);
  color: var(--white);
  margin-right: var(--padding-extra-small);
}

.tabs button.active {
  background-color: var(--primary-hover);
}

.tabs button:last-child {
  margin-right: 0;
}

/* Visit History */
.visit-history table {
  width: 100%;
  border-collapse: collapse;
  margin-top: var(--padding-small);
}

.visit-history th,
.visit-history td {
  padding: var(--padding-small);
  border-bottom: 1px solid var(--border-color);
}

.visit-history th {
  background-color: var(--primary-bg);
}

.visit-history button {
  padding: var(--padding-extra-small) var(--padding-small);
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.visit-history button:hover {
  background-color: var(--primary-hover);
}

.expanded-visit-details {
  padding: var(--padding-small);
  background-color: var(--white);
  border-radius: var(--border-radius);
  margin-top: var(--padding-small);
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .patient-summary p {
    font-size: var(--font-size-small);
  }

  .visit-history table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  .visit-history th,
  .visit-history td {
    font-size: var(--font-size-small);
  }
}