/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: var(--padding-medium);
  border-radius: var(--border-radius);
}

thead th {
  background-color: var(--secondary-bg);
  color: var(--secondary-color);
  padding: var(--padding-small);
  text-align: center;
}

tbody td {
  color: var(--primary-color);
  border: 1px solid var(--border-color);
  padding: var(--padding-small);
  text-align: center;
}

tr:nth-child(even) {
  background-color: var(--primary-bg);
}

/* Actions column */
tbody td:last-child {
  width: 40px;
  /* Minimized width to fit just the icon */
  text-align: center;
}

tbody td:last-child button {
  font-size: 12px;
  /* Reduced icon size */
  padding: 4px;
  /* Adjust padding for smaller button */
  background: none;
  border: none;
  cursor: pointer;
  color: var(--primary-color);
}

tbody td:last-child button:hover {
  color: var(--hover-color);
}

table th,
table td {
  border: 1px solid var(--border-color);
}

/* Expanded rows */
.expanded-row {
  background-color: var(--expanded-bg);
}

.expanded-content {
  padding: var(--padding-small);
  background-color: var(--secondary-bg);
  border: 1px solid var(--border-color);
  border-top: none;
  font-size: var(--font-size-small);
  color: var(--secondary-color);
}

/* Responsively hide excessive columns or make sure text wraps well */
@media (max-width: 600px) {
  .table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  table {
    width: 100%;
    table-layout: auto;
    font-size: calc(var(--font-size-body) - 2px);
  }

  th,
  td {
    padding: var(--padding-xs);
    font-size: var(--font-size-small);
    white-space: normal;
    word-wrap: break-word;
  }

  .expanded-content {
    font-size: calc(var(--font-size-small) - 1px);
    padding: var(--padding-xs);
  }
}