.header {
  width: 70%;
  background-color: var(--primary-color);
  padding: var(--padding-medium);
  box-shadow: var(--shadow-light);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  margin: 0 auto;
  border-radius: var(--border-radius);
}

.header-content {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
}

.header-user-photo {
  display: none;
}

.header-icons {
  display: none;
}

.username {
  font-size: var(--font-size-body);
  font-weight: bold;
}

.logout-button {
  background-color: var(--white);
  color: var(--primary-color);
  border: none;
  padding: var(--padding-small) var(--padding-medium);
  font-size: var(--font-size-body);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: var(--primary-hover);
  color: var(--white);
}

.theme-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--white);
  font-size: 1.2rem;
  padding: 0;
  transition: transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  position: relative;
}

.theme-toggle-button:hover {
  transform: scale(1.1);
}

.theme-icon {
  color: var(--white);
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 768px) {
  .header {
    width: -webkit-fill-available;
    margin: var(--padding-small);
  }

  .header-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .header-icons>* {
    margin: 0 var(--padding-small);
  }

  .header-icons svg {
    width: 20px;
    height: 20px;
  }

  .username {
    display: none;
  }

  .header-user-photo {
    border-radius: 50%;
    margin-right: var(--padding-small);
  }

  .theme-toggle-button {
    width: 30px;
    height: 30px;
    font-size: 1rem;
  }

  .theme-icon {
    width: 16px;
    height: 16px;
  }
}