/* General styles */
.settings-container {
  padding: var(--padding-medium);
  /* background-color: var(--primary-bg); */
  color: var(--primary-color);
  font-family: Arial, sans-serif;
}

/* .settings-container.dark {
  background-color: var(--secondary-bg);
  color: var(--white);
} */

.settings-container .card {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: var(--padding-medium);
  background-color: var(--secondary-bg);
  box-shadow: var(--shadow-light);
}

/* .settings-container.dark .card {
  background-color: var(--secondary-bg);
  border-color: var(--border-color);
} */

.settings-title {
  margin-bottom: var(--padding-medium);
  font-size: var(--font-size-title);
  font-weight: bold;
  text-align: center;
}

.action-button {
  display: block;
  width: 100%;
  padding: var(--padding-small);
  margin: var(--padding-small) 0;
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  border-radius: var(--border-radius);
  font-size: var(--font-size-body);
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.action-button:hover {
  background-color: var(--primary-hover);
}

.cancel-button {
  background-color: var(--success-bg);
  color: var(--success-text);
  border: 1px solid var(--success-border);
}

.cancel-button:hover {
  background-color: var(--success-border);
  color: var(--white);
}

/* Edit form */
.edit-form label {
  display: block;
  margin: var(--padding-small) 0;
  font-weight: bold;
  font-size: var(--font-size-body);
}

.edit-form input {
  width: -webkit-fill-available;
  padding: var(--padding-small);
  margin: var(--padding-small) 0;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  font-size: var(--font-size-body);
  box-shadow: var(--shadow-light);
}

.edit-form input:focus {
  border-color: var(--primary-color);
  outline: none;
  box-shadow: var(--shadow-medium);
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .settings-container {
    padding: var(--padding-small);
  }

  .card {
    padding: var(--padding-small);
  }

  .settings-title {
    font-size: var(--font-size-welcome);
  }

  .action-button {
    font-size: calc(var(--font-size-body) - 2px);
    padding: var(--padding-small);
  }
}

@media screen and (min-width: 769px) {
  .settings-container {
    max-width: 600px;
    margin: 0 auto;
  }
}