@import './variables.css';
@import './AnimatedBackground.css';
@import './Header.css';
@import './HeroSection.css';
@import './FeaturesCarousel.css';
@import './AdvancedFeatures.css';
@import './CTASection.css';
@import './Footer.css';